.rectangle{
    width: 700px;
    height: 800px;
    border: 2px solid #FF5376;
    border-radius: 1px;
    background: #FF5376;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle h1{
    width: 547px;
      color: #FFFCF2;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 160px;
      margin-left: 18px;
  }

  .circle {
    width: 100px;
    height: 100px;
    background-color: #F0386B;
    border-radius: 50px;
    margin-bottom: 130px;
  }
  
  .form-group {
    margin: 10px 0;
    position: relative;
  }
  
  input {
    width: 450px;
    padding: 10px;
    font-size: 16px;
    border-radius: 13px;
  border: 1px solid #E1E1E1;
  background: #F2F2F2;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.2s ease-out all;
  }
  
  input:focus + label, input:valid + label {
    top: -10px;
    font-size: 12px;
    color: #F0386B;
  }
  
  button {
    width: 470px;
    padding: 10px;
    background-color:  #F0386B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
  }
  
  .forgot-password-button {
    width: 470px;
    padding: 10px;
    background-color:  #FFFCF2;
    color: #F0386B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    height: 65px;
  }
  
.align-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.rectangle {
  width: 700px;
  height: 800px;
  border: 2px solid #FF5376;
  border-radius: 1px;
  background: #FF5376;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rectangle h1 {
  width: 547px;
  color: #FFFCF2;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.circle {
  width: 100px;
  height: 100px;
  background-image: url(https://scontent.fcgy2-1.fna.fbcdn.net/v/t39.30808-1/305975246_480030324173600_4611494949818294877_n.png?stp=dst-png_p160x160&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG2gtTupMLSZ4txhq__6755QWGQxV8Is6NBYZDFXwizowHdcai4Qo3Ra7lW8pLwszJEv1YFBGL8sApgiP-X_ydR&_nc_ohc=U-M-eQ0fbCAAX94wx0q&_nc_ht=scontent.fcgy2-1.fna&oh=00_AfDsYgjQZRuwIkukxW1PACYTpOW8DsKf7rD_G0hykwbT3Q&oe=654E546E);
  background-position: center;
  border-radius: 50px;
  margin-bottom: 130px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.form-group {
  margin: 10px 0;
  position: relative;
}

input {
  width: 450px;
  padding: 10px;
  font-size: 16px;
  border-radius: 13px;
  border: 1px solid #E1E1E1;
  background: #F2F2F2;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.2s ease-out all;
}

input:focus + label,
input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #F0386B;
}

button {
  width: 470px;
  padding: 10px;
  background-color: #F0386B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.forgot-password-button {
  width: 470px;
  padding: 10px;
  background-color: #FFFCF2;
  color: #F0386B;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  height: 65px;
}
